{%- comment -%} Build inline metadata array with minimal HTML badges {%- endcomment -%}
{%- assign metadata_items = "" | split: "," -%}

{%- comment -%} Type badge {%- endcomment -%}
{%- if metadata_kinds contains "type" and change.type -%}
{%-   assign type_config = config.types[change.type] -%}
{%-   if type_config -%}
{%-     assign type_text = type_config.text | default: change.type -%}
{%-     assign type_slug = change.type | sluggerize: slug_type -%}
{%-     capture type_badge -%}<span class="badge type-badge type-{{ type_slug }}">{{ type_text }}</span>{%- endcapture -%}
{%-     assign metadata_items = metadata_items | push: type_badge -%}
{%-   endif -%}
{%- endif -%}

{%- comment -%} Parts/components {%- endcomment -%}
{%- if metadata_kinds contains "part" -%}
{%-   assign effective_parts = "" | split: "," -%}
{%-   if change.parts and change.parts.size > 0 -%}
{%-     assign effective_parts = change.parts -%}
{%-   elsif change.part -%}
{%-     assign effective_parts = change.part | split: "," -%}
{%-   endif -%}
{%-   if effective_parts.size > 0 -%}
{%-     for part in effective_parts -%}
{%-       assign skip_part = false -%}
{%-       if part == "changelog" or part == "release_note_needed" -%}
{%-         assign skip_part = true -%}
{%-       elsif part == group1_slug or part == group2_slug -%}
{%-         assign skip_part = true -%}
{%-       elsif config.parts[part] == nil -%}
{%-         assign skip_part = true -%}
{%-       endif -%}
{%-       unless skip_part -%}
{%-         assign part_config = config.parts[part] -%}
{%-         assign part_text = part_config.text | default: part -%}
{%-         assign part_slug = part | sluggerize: slug_type -%}
{%-         capture part_badge -%}<span class="badge part-badge part-{{ part_slug }}">{{ part_text }}</span>{%- endcapture -%}
{%-         assign metadata_items = metadata_items | push: part_badge -%}
{%-       endunless -%}
{%-     endfor -%}
{%-   endif -%}
{%- endif -%}

{%- comment -%} Tags {%- endcomment -%}
{%- if metadata_kinds contains "tag" and change.tags and change.tags.size > 0 -%}
{%-   for tag in change.tags -%}
{%-     assign tag_slug = tag | sluggerize: slug_type -%}
{%-     capture tag_badge -%}<span class="badge tag-badge tag-{{ tag_slug }}">{{ tag }}</span>{%- endcapture -%}
{%-     assign metadata_items = metadata_items | push: tag_badge -%}
{%-   endfor -%}
{%- endif -%}

{%- comment -%} Lead/user {%- endcomment -%}
{%- if metadata_kinds contains "lead" and change.lead -%}
{%-   if entry_show_lead_links and config.links.user.href -%}
{%-     capture lead_link -%}[@{{ change.lead }}]({{ config.links.user.href | replace: '{{user}}', change.lead }}){%- endcapture -%}
{%-     assign metadata_items = metadata_items | push: lead_link -%}
{%-   else -%}
{%-     capture lead_text -%}@{{ change.lead }}{%- endcapture -%}
{%-     assign metadata_items = metadata_items | push: lead_text -%}
{%-   endif -%}
{%- endif -%}

{%- comment -%} Issue/ticket link {%- endcomment -%}
{%- if entry_show_issue_links and change.tick and config.links.web.href and config.links.web.href != "" -%}
{%-   assign ticket_link_text = config.links.web.text | render: change -%}
{%-   capture ticket_link -%}[{{ ticket_link_text }}]({{ config.links.web.href | render: change }}){%- endcapture -%}
{%-   assign metadata_items = metadata_items | push: ticket_link -%}
{%- endif -%}

{%- comment -%} Git commit link {%- endcomment -%}
{%- if metadata_kinds contains "git" and change.ghsh and config.links.git.href -%}
{%-   capture git_link -%}[`{{ change.ghsh | slice: 0, 7 }}`]({{ config.links.git.href | render: change }}){%- endcapture -%}
{%-   assign metadata_items = metadata_items | push: git_link -%}
{%- endif -%}

{%- comment -%} Join metadata inline {%- endcomment -%}
{%- if metadata_items.size > 0 -%}
{%-   assign change_metadata = metadata_items | join: " " -%}
{%- else -%}
{%-   assign change_metadata = "" -%}
{%- endif -%}
